#app端口号
server:
  port: 8601

spring:
  #database config
  datasource:
    #database info
    username: root
    password: mysql
    url: jdbc:mysql://localhost:3306/mogu_blog?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

    #初始化大小，最小，最大
    initialSize: 20
    minIdleL: 5
    maxActive: 200

    #连接等待超时时间
    maxWait: 60000

    #配置隔多久进行一次检测（关闭空闲连接）
    timeBetweenEvictionRunsMillis: 60000

    #配置连接在池中的最小生存时间(毫秒) 5 minutes
    minEvictableIdleTimeMills: 300000

    validationQuery: SELECT 1 FROM DUAL

    dbcp2:
      #泄露的连接可以被删除的超时时间,该值应该是应用程序查询可能执行的最长时间
      remove-abandoned-timeout: 180
      remove-abandoned-on-borrow: true

    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true

    #配置监控统计拦截的filters，去掉后监控界面的sql无法统计，‘wall’用于防火墙
    filters: state,wall,log4j
    maxPoolPreparedStatementPerConnectionSize: 20
    userGlobalDataSourceState: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500

#mybatis
mybatis-plus:
  mapper-locations: classpath:/mapper/*Mapper.xml
  #实体扫描，多个package用逗号或者分号分隔
  type-aliases-package: com.alex.dragblog.commons.entity
  global-config:
    db-config:
      #主键类型 0：数据库自增id， 1：用户输入id 2：全局唯一id（数字） 3：全局唯一id（uuid）
      id-type: uuid
      #字段策略 ignored：忽略判断， not_null: 非null， not_empry: 非空
      field-strategy: not_empty
      #驼峰下划线转化
      column-underline: true
      #逻辑删除配置
      logic-delete-value: 0
      logic-not-delete-value: 1
    #刷新mapper  调试神器
    refresh: true
    #原生配置
  configuration:
    #开启驼峰功能
    map-underscore-to-camel-case: true
    cache-enabled: false



